@model CodeFirst.Models.SystemUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SystemUser</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsEnable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsEnable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SystemRoles)
    </div>
    <div class="display-field">
        @foreach (var SystemRoleObj in Model.SystemRoles)
        {
            @SystemRoleObj.Name<br />
        }
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateOn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateOn)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
