@model CodeFirst.Models.ProductTranslation

@if (CodeFirst.Helpers.LocationHelper.isCurrentControllerAndAction("Product", "Edit", ViewContext))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ProductId)
}

@Html.HiddenFor(model => model.Lang)
<div class="editor-label">
    @Html.LabelFor(model => model.Name) (@Model.Lang)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Description) (@Model.Lang)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model.Description, new
    {
        @class = "desc",
        cols="50"
    })
    @Html.ValidationMessageFor(model => model.Description)
</div>
